﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ImageDisplay.aspx.cs" Inherits="UrbanScienceEditDemo.ImageDisplay" %>

<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <img src ="Images/Urban Science Consumer UI.png" alt="Sample Photo" width =" 65%"/>
        </div>
    </form>
</body>
</html>
